<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzw.robot.mapper.Rb_func_listMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qzw.robot.entity.Rb_func_list">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="menu_id" property="menu_id" />
    </resultMap>

    <select id="findList" parameterType="java.lang.String" resultType="java.lang.String">
        select 'name' from rb_func_list
    </select>
</mapper>
