<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzw.robot.mapper.Rb_group_historyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qzw.robot.entity.Rb_group_history">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="group_id" property="group_id"/>
        <result column="user_id" property="user_id"/>
        <result column="create_date" property="create_date"/>
    </resultMap>

    <!--  通过QQ、群组、时间查询历史记录  -->
    <select id="findByQqAndGroupIdAndCreateDate" resultType="com.qzw.robot.entity.Rb_group_history">
        select h.id, h.content, h.group_id, h.user_id, h.create_date from
    (select u.id,qq, nickname, group_id, name, number from
    (select id, qq, nickname, group_id from rb_group_user where rb_group_user.qq=#{qq})u,
    (select id,name,number from  rb_group where rb_group.number=#{number})g
    where u.group_id = g.id
    )g_u
    left join rb_group_history h
    on h.group_id=g_u.group_id and h.user_id=g_u.id and h.create_date=#{createDate}
    </select>

</mapper>
